In [38]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O
room_Schedule = pd.read_csv(r'C:\Users\Dell\Desktop\New_roomSchedule.csv') #reading the csv file
room_Schedule.isnull() # checking for the null or empty values

       _id  bookings   room   date
0    False     False  False  False
1    False     False  False  False
2    False     False  False  False
3    False     False  False  False
4    False     False  False  False
..     ...       ...    ...    ...
189  False     False  False  False
190  False     False  False  False
191  False     False  False  False
192  False     False  False  False
193  False     False  False  False

[194 rows x 4 columns]

In [39]:
room_Schedule.isnull().sum() #getting the sum of all columns null values

_id         0
bookings    0
room        0
date        0
dtype: int64

In [40]:
length=len(room_Schedule) #length of the csv file
print(length)

194

In [41]:
print(room_Schedule)

                          _id  \
0    5fa8267c1bd2a03f4641a099
1    5fa859611bd2a03f4641a0e0
2    5fa87aad1bd2a03f4641a130
3    5fa8fb591bd2a03f4641a1e9
4    5fa8fc3d1bd2a03f4641a1f7
..                        ...
189  5fdc8542ff3b76b96dd79dab
190  5fde2cd81c7ca18763114afb
191  5fdf86151c7ca18763114b2a
192  5fdfabe51c7ca18763114b5e
193  5fdfea6b1c7ca18763114b9f

                                              bookings  \
0    [{'_id': '5fa8267c1bd2a03f4641a09a', 'start': ...
1    [{'_id': '5fa859611bd2a03f4641a0e1', 'start': ...
2    [{'_id': '5fa87aad1bd2a03f4641a131', 'start': ...
3    [{'_id': '5fa8fb591bd2a03f4641a1ea', 'start': ...
4    [{'_id': '5fa8fc3d1bd2a03f4641a1f8', 'start': ...
..                                                 ...
189  [{'_id': '5fdc8542ff3b76b96dd79dac', 'start': ...
190  [{'_id': '5fde2cd81c7ca18763114afc', 'start': ...
191  [{'_id': '5fdf86151c7ca18763114b2b', 'start': ...
192  [{'_id': '5fdfabe51c7ca18763114b5f', 'start': ...
193  [{'_id': '5fdfea6b1c7ca18763114ba0', 'start': ...

                         room                              date
0    5f5bd5fafc7a3450ea06e81c  2020-11-08 17:10:20.328000+00:00
1    5f5cc739fc7a3450ea06e838  2020-11-08 20:47:29.186000+00:00
2    5f5b4fdd400b9fbfbe0b8ec3  2020-11-08 23:09:33.878000+00:00
3    5f5bd5fafc7a3450ea06e81c  2020-11-09 08:18:33.344000+00:00
4    5f5cc50bfc7a3450ea06e834  2020-11-09 08:22:21.433000+00:00
..                        ...                               ...
189  5f5cc781fc7a3450ea06e839  2020-12-18 10:32:34.679000+00:00
190  5f5cc50bfc7a3450ea06e834  2020-12-19 16:39:52.105000+00:00
191  5f5cc50bfc7a3450ea06e834  2020-12-20 17:12:53.116000+00:00
192  5f5cc50bfc7a3450ea06e834  2020-12-20 19:54:13.157000+00:00
193  5f5bd5fafc7a3450ea06e81c  2020-12-21 00:20:59.897000+00:00

[194 rows x 4 columns]

In [35]:
room_Bookings['bookingDate'] = pd.to_datetime(room_Bookings['bookingDate']).dt.date #changing the date time format
print(room_Bookings)

                           _id     id  aula  polo  sede  day  month  year  \
0     5fa8267c1bd2a03f4641a0a1  10000   112    26  1000   12     11  2020
1     5fa826f01bd2a03f4641a0a3  10000   112    26  1000   12     11  2020
2     5fa8271f1bd2a03f4641a0a5  10001   113    27  1000    9     11  2020
3     5fa827301bd2a03f4641a0a7  10001   113    27  1000    9     11  2020
4     5fa8274c1bd2a03f4641a0a9  10001   113    27  1000    9     11  2020
...                        ...    ...   ...   ...   ...  ...    ...   ...
3293  5fd9de93ff3b76b96dd79893  10084   113    27  1000   16     12  2020
3294  5fd9ded1ff3b76b96dd79895  10300   113    27  1000   16     12  2020
3295  5fd9dedfff3b76b96dd79897  10300   113    27  1000   16     12  2020
3296  5fd9e0f2ff3b76b96dd798a1  10044   113    27  1000   16     12  2020
3297  5fd9e104ff3b76b96dd798a3  10044   113    27  1000   16     12  2020

      time.start  time.end bookingDate
0           8.30     10.30  2020-11-08
1          10.45     12.45  2020-11-08
2           8.30     10.30  2020-11-08
3          10.45     12.45  2020-11-08
4          14.15     16.15  2020-11-08
...          ...       ...         ...
3293       14.15     16.15  2020-12-16
3294       14.15     16.15  2020-12-16
3295       16.30     18.30  2020-12-16
3296       14.15     16.15  2020-12-16
3297       16.30     18.30  2020-12-16

[3298 rows x 11 columns]

In [36]:
duplicates_if_any= room_Bookings[room_Bookings.duplicated()] #looking for the duplicates if any present in data
print(duplicates_if_any)

Empty DataFrame
Columns: [_id, id, aula, polo, sede, day, month, year, time.start, time.end, bookingDate]
Index: []

In [37]:
cleaned_data= room_Bookings.to_csv (r'C:\Users\Dell\Desktop\Cleaned_room_booking_data.csv', index = None, header=True) #exporting the cleaned data into csv file