In [21]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O
room = pd.read_csv(r'C:\Users\Dell\Desktop\rooms.csv') #reading the csv file
room.isnull() # checking for the null or empty values

,_id,Sede,aulaId,aulaDes,capienza,poloDes,date,scheduleType,schedules
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
143,False,False,True,False,False,False,False,False,False
144,False,False,True,False,False,False,False,False,False
145,False,False,True,False,False,False,False,False,False
146,False,False,True,False,False,False,False,False,False
147,False,False,True,False,False,False,False,False,False

In [22]:
room.isnull().sum() #getting the sum of all columns null values

_id              0
Sede             0
aulaId          29
aulaDes          0
capienza         0
poloDes          0
date             0
scheduleType     0
schedules        0
dtype: int64

In [23]:
#null containing aula id is important field, so dropping action is carried out
length=len(room) #length of the csv file
print(length)

148

In [24]:
print(room)

                          _id  Sede  aulaId  aulaDes  capienza  poloDes  \
0    5f5b4fdd400b9fbfbe0b8e94     1     1.0       69        10       15
1    5f5b4fdd400b9fbfbe0b8e95     1     2.0       25        24       15
2    5f5b4fdd400b9fbfbe0b8e96     1     3.0       12        12        2
3    5f5b4fdd400b9fbfbe0b8e97     1     4.0       16        10        2
4    5f5b4fdd400b9fbfbe0b8e98     1     7.0       35        76       18
..                        ...   ...     ...      ...       ...      ...
143  5f9ade072358534e7e6d469c     3     NaN      123        50       29
144  5fa05a957916daa867a158ae     1     NaN       31        14        1
145  5fa05aa77916daa867a158af     1     NaN       36         9        1
146  5fc95263eb6dbced74b94f68     2     NaN      124         6        4
147  5fca3ca8eb6dbced74b951b7     2     NaN      125        13       14

                                 date scheduleType schedules
0    2020-10-02 19:17:16.414000+00:00           []        []
1    2020-12-15 15:38:27.918000+00:00           []        []
2    2020-10-29 10:10:23.875000+00:00           []        []
3    2020-12-15 10:17:12.238000+00:00           []        []
4    2020-12-16 10:04:16.903000+00:00           []        []
..                                ...          ...       ...
143  2020-10-29 15:21:43.206000+00:00           []        []
144  2020-12-16 08:04:17.292000+00:00           []        []
145  2020-12-16 09:46:29.789000+00:00           []        []
146  2020-12-03 21:02:27.777000+00:00           []        []
147  2020-12-04 13:42:00.827000+00:00           []        []

[148 rows x 9 columns]

In [25]:
room['date'] = pd.to_datetime(room['date']).dt.date #changing the date time format
print(room)

                          _id  Sede  aulaId  aulaDes  capienza  poloDes  \
0    5f5b4fdd400b9fbfbe0b8e94     1     1.0       69        10       15
1    5f5b4fdd400b9fbfbe0b8e95     1     2.0       25        24       15
2    5f5b4fdd400b9fbfbe0b8e96     1     3.0       12        12        2
3    5f5b4fdd400b9fbfbe0b8e97     1     4.0       16        10        2
4    5f5b4fdd400b9fbfbe0b8e98     1     7.0       35        76       18
..                        ...   ...     ...      ...       ...      ...
143  5f9ade072358534e7e6d469c     3     NaN      123        50       29
144  5fa05a957916daa867a158ae     1     NaN       31        14        1
145  5fa05aa77916daa867a158af     1     NaN       36         9        1
146  5fc95263eb6dbced74b94f68     2     NaN      124         6        4
147  5fca3ca8eb6dbced74b951b7     2     NaN      125        13       14

           date scheduleType schedules
0    2020-10-02           []        []
1    2020-12-15           []        []
2    2020-10-29           []        []
3    2020-12-15           []        []
4    2020-12-16           []        []
..          ...          ...       ...
143  2020-10-29           []        []
144  2020-12-16           []        []
145  2020-12-16           []        []
146  2020-12-03           []        []
147  2020-12-04           []        []

[148 rows x 9 columns]

In [26]:
duplicates_if_any= room[room.duplicated()] #looking for the duplicates if any present in data
print(duplicates_if_any)

Empty DataFrame
Columns: [_id, Sede, aulaId, aulaDes, capienza, poloDes, date, scheduleType, schedules]
Index: []

In [27]:
cleaned_data= Presence.to_csv (r'C:\Users\Dell\Desktop\Cleaned_roomdata.csv', index = None, header=True) #exporting the cleaned data into csv file